<small><%= @block.header.height %></small>
<pre>
    <%= inspect(@block, pretty: true, limit: :infinity) %>
</pre>

<%= for tx <- @block.data.txs do %>
    <%= link Explorer.tx_hash(tx), to: Routes.txs_path(@conn, :show, Explorer.tx_hash(tx)) %>
    <pre>
        <%= inspect(Explorer.decode_tx(tx), pretty: true, limit: :infinity) %>
    </pre>
<% end %>
