<%= for tx <- @txs do %>
    <%= link Explorer.tx_hash(tx), to: Routes.txs_path(@socket, :show, Explorer.tx_hash(tx)) %>
    <pre>
        <%= inspect(tx, pretty: true, limit: :infinity) %>
    </pre>
<% end %>
