<small><%= @hash %></small>
<h2>Transaction</h2>

<dl>
    <dt>Block</dt>
    <dd>
        <%= link @tx_response.height, to: Routes.blocks_path(@conn, :show, @tx_response.height) %>
    </dd>
</dl>

<pre>
    <%= inspect(@tx, pretty: true) %>
</pre>

<h2>Messages</h2>
<pre>
    <%= inspect(Enum.map(@tx.body.messages, &Explorer.decode_any/1), pretty: true) %>
</pre>


<h2>Transaction Response</h2>
<pre>
    <%= inspect(@tx_response, pretty: true) %>
</pre>
